<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Gelöschte Ereignisbenachrichtigung</title>
</head>
<body>
    <p>Sehr geehrter Mitglied,</p>
    <p>Wir bedauern, Ihnen mitteilen zu müssen, dass das Ereignis: <strong th:text="${eventTitle}"></strong> geplant für <strong th:text="${eventDate}"></strong> abgesagt wurde.</p>
    <p>Weitere Informationen finden Sie auf unserer <a th:href="${frontendUrl}">Website</a>.</p>
    <p>Mit freundlichen Grüßen,<br/> <strong th:text="${orgName}"></strong></p>
</body>
</html>
