<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<head>
    <title>[[${orgName}]] Passwort vergessen</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<p>Hallo <span th:text="${name}"></span>!</p>

<p>Sie können ein neues Passwort für Ihr Konto festlegen, indem Sie <a th:href="@{${url}}">hier</a> klicken.</p>

<p>Der Link ist [[${tokenTtl}]] Stunden lang gültig.</p>

<p>Falls diese Nachricht nicht relevant ist oder das Festlegen des Passworts fehlschlägt, kontaktieren Sie bitte [[${supportEmail}]].</p>

<p>Mit freundlichen Grüßen, [[${orgName}]]</p>

</body>
</html>
