<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fi">
<head>
    <title>[[${orgName}]] unohtunut salasana</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<p>Hei <span th:text="${name}"></span>!</p>

<p>Voit asettaa tilillesi uuden salasanan klikkaamalla <a th:href="@{${url}}">tästä</a>.</p>

<p>Linkki on voimassa [[${tokenTtl}]] tuntia.</p>

<p>Jos viesti on aiheeton tai salasanan asettaminen ei onnistu, ota yhteys [[${supportEmail}]].</p>

<p>Terveisin [[${orgName}]]</p>

</body>
</html>