<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <title>Contrasena olvidada de [[${orgName}]]</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<p>Hola <span th:text="${name}"></span>!</p>

<p>Puedes establecer una nueva contrasena para tu cuenta haciendo clic <a th:href="@{${url}}">aqui</a>.</p>

<p>El enlace es valido durante [[${tokenTtl}]] horas.</p>

<p>Si este mensaje no aplica para ti o falla el cambio de contrasena, contacta con [[${supportEmail}]].</p>

<p>Saludos cordiales, [[${orgName}]]</p>

</body>
</html>

