<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>[[${orgName}]] Forgotten Password</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<p>Hello <span th:text="${name}"></span>!</p>

<p>You can set a new password for your account by clicking <a th:href="@{${url}}">here</a>.</p>

<p>The link is valid for [[${tokenTtl}]] hours.</p>

<p>If this message is irrelevant or setting the password fails, please contact [[${supportEmail}]].</p>

<p>Best regards, [[${orgName}]]</p>

</body>
</html>
