<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="sv">
<head>
    <title>[[${orgName}]] Glömt lösenord</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<p>Hej <span th:text="${name}"></span>!</p>

<p>Du kan ställa in ett nytt lösenord för ditt konto genom att klicka <a th:href="@{${url}}">här</a>.</p>

<p>Länken är giltig i [[${tokenTtl}]] timmar.</p>

<p>Om detta meddelande inte är relevant eller om det misslyckas att ställa in lösenordet, kontakta [[${supportEmail}]].</p>

<p>Med vänliga hälsningar, [[${orgName}]]</p>

</body>
</html>
